:root {
	--primary-color: #5078e7;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	color: #333;
	line-height: 1.6;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(27, 27, 27);
}

h1, h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

hr {
	height: 1px;
	border: 0;
	background-color: lightgray;
	margin-top: 10px;
	margin-bottom: 30px;
}

/* Navigation bar */
.navigation {
	background-color: var(--primary-color);
	color: #fff;
	height: 80px;
}

.navigation ul {
	display: flex;
}

.navigation a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navigation a:hover {
	border-bottom: 0.1px #fff solid;
    background-color: #cae1ff;
    color: rgb(73, 73, 73);
    border-radius: 10px;
}

.navigation .flex {
	justify-content: space-between;
}

/* Todos */
.todos .container {
	margin-top: 30px;
}

.all-todos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.todo {
	display: flex;
	flex-direction: column;
}

.add-task .form-control {
	margin: 30px 0;
}

.add-task input[type='text']{
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;
	outline: none;

}

.Board-status-name {
	padding: 10px;
	border-radius: 10px;
	background-color:#c3d3ff ;
	color: rgb(53, 53, 53);
}

/* Utilities */
.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
	width: 33%;
	float:left;
}

.container-line {
	margin-left: 50px;
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	width: 300px;
	margin-right: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 5px;
}

.btn-outline {
	background-color: transparent;
	border: 1px #fff solid;
}

.btn:hover {
	transform: scale(0.98);
}

.btn-secondary {
	display: inline-block;
	padding: 10px 10px;
	cursor: pointer;
	background: #d4e0ff;
	color: rgb(75, 75, 75);
	border: none;
	border-radius: 5px;
}

.btn-secondary:hover {
	background-color: #5078e7;
	color:#fff;
}
.flex {
	display: flex;
	justify-content: space-center;
	align-items: center;
	height: 100%;
}

.icons {
	display: flex;
	flex-direction: column;
	color: black;
  }

.form-control {
	margin: 30px 0;
    position: top=30px;
}